.header {
  max-width: 100%;
  border-bottom: 1px solid $color-dark-grey;
  &__wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 40px;
    box-sizing: border-box;
  }
  &__title {
    margin: 0;
    @include font-main($textXXL, $color-white, 400);
  }
}

@media screen and (max-width: 750px) {
  .header {
    &__wrapper {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}
