/* FONT SIZE VARIABLES */
$textXS: 12px;
$textS: 14px;
$textM: 16px;
$textL: 20px;
$textXL: 24px;
$textXXL: 32px;

/* COLOR VARIABLES */
$color-white: hsla(0, 0%, 100%, 1);
$color-black: hsla(220, 4%, 14%, 1);
$color-violet: hsla(247, 80%, 64%, 1);
$color-very-light-grey: hsla(0, 0%, 76%, 1);
$color-light-grey: hsla(201, 1%, 57%, 1);
$color-grey: hsla(180, 0%, 57%, 1);
$color-dark-grey: hsla(0, 0%, 35%, 1);
$color-red: hsla(11, 92%, 52%, 1);
$color-green: hsla(140, 85%, 42%, 1);
$color-bg-divider: hsla(0, 0%, 95%, 1);
